* {
  margin: 0;
  padding: 0;
}
#detailsInfoBlock, .another{
  width: 90%;
  float: right;
}
body {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
hr.black {
  border: 1px solid black;
  /* width: 40%;*/
}
.bg{
  background: #F5F5F5;
}
.main {
  min-height: 800px;
}
.header {
  background-color: #f8e438;
  /*min-width: 1280px;*/
  min-width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header p {
  white-space: nowrap;
  margin-left: 4%;
}
.logo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2% 2% 2% 2%;
}
.visible {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  margin-left: 5%;
}
.headerRightSide{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2%;
}
.menu {
  margin-right: 7%;
  width: 57%;
}
.menu ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /*margin: 2% 2% 2% 10%;*/
}
.menu ul li {
  list-style: none;
  margin-left: 4%;
  line-height: 1.5em;
}
.menu ul li a {
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  /*font-size: 20px;*/
  font-size: 1.5vw;
  line-height: 24px;
  /* identical to box height */
  text-transform: capitalize;
}
.menu ul li.active a {
  font-weight: bold;
  text-decoration: underline;
}
.logIn{
  width: 20%;
}
.logIn a{
  text-decoration: none;
  white-space: nowrap;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 24px;
  text-transform: capitalize;
  color: black;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3%;
}
.infoBlock {
  /*width: 580px;
  height: 466.07px;*/
  width: 48%;

  background: #fffcfc;
  border: 1px solid rgba(228, 228, 228, 0.96);
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 2% 0 2% 0;
}
.infoBlock .leftPanel img{
  width: 2em;

}
.photo {
  margin: 2% 3% 2% 3%;
}
.mainPoto {
  width: 100%;
}
.panels,
.panels p,
.photo p {
  margin: 2% 2% 0 2%;
}
.photo p {
  margin-top: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.infoBlock p.inscription, .leftPanel p {
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 2%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.infoBlock hr {
  border: 1px solid #e4e4e4;
  margin-left: 3%;
  margin-right: 3%;
}
.panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftPanel,
.leftBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.countLike{
  width: 65%;
}
.leftBlock p {
  margin-left: 6%;
  margin-right: 6%;
  font-size: 1.5vw;
  line-height: 22px;
}
.leftBlock label {
  margin-right: 6%;
  font-size: 1.5vw;
  line-height: 22px;
}
.leftPanel p {
  margin-left: 10%;
  margin-right: 10%;
}
.countLike {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.countNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 22%;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
}
.details {
  display: block;
  width: 2em;
  height: 2em;
  /*background-size: 100%;
  text-align: center;
  background-position: center;*/
  background: url(../img/Polygon.png) no-repeat 50% 50%;
}

.details:hover {
  /*background-size: 100%;
  background-position: center;*/
  background: url(../img/details.png) no-repeat 50% 50%;
}
.infBblock p {
  margin-bottom: 3%;
}

.comment {
  /* width: 40%;*/
  margin-top: 3%;
}
.commentInscription {
  margin-top: 2%;
}
.commentInscription {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.myBtn {
  width: 40%;
  height: 30px;
  background: #020406;
  color: white;
  border-radius: 6px;
  font-size: 1vw;
  line-height: 17px;
}
.textAreaComment {
  border-radius: 5px;
  width: 100%;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.cap {
  margin-top: 3%;
}
.commentAutor {
  margin-top: 1%;
}
.commentAutor p.date {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.cap,
.commentAutor,
.commentText,
.connect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 40%;*/
}
.commentText {
  justify-content: start;
  align-items: center;
  margin-top: 2%;
}
.connect {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1%;
}
.commentAutor p,
.connect p,
.commentInscription p,
.signature p {
  font-size: 14px;
  line-height: 17px;
}
.commentText p {
  font-size: 18px;
  line-height: 22px;
}

.cap p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
.cap select {
  border: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}
.textBlock,
.signature {
  /* width: 40%;*/
}
.signature,
.another {
  margin-top: 5%;
}

.textBlock p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.rightSide,
.leftSide {
  width: 48%;
  margin-left: 3%;
}
.date p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 34%;
}
.another p {
  font-size: 20px;
  line-height: 24px;
}
.textBlock p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.footer {
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-transform: capitalize;
}
.footer img {
  margin-left: 2%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.myButton {
  width: 40px;
  height: 40px;
  background-color: #f8e438;
  border: none;

  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .header {
    min-width: 100%;
    height: 15%;
    text-align: center;
    display: block;
  }
  .logo {
    margin: 0 2% 0 2%;
    padding-top: 2%;
    width: 93%;
  }
  .headerRightSide {
    width: 100%;
    display: block;
    text-align: center;
  }
  .menu{
    width: 100%;
  }
  .menu ul {
    display: inline-block;
  }
  .menu ul li a {
    font-size: 5.5vw;
  }

  .myButton {
    display: block;
  }
  .infoBlock {
    /*height: 380px;*/
    width: 100%;
  }
  .logIn{
    display: none;
    width: 100%;
  }
  .logIn a{
    font-size: 5vw;
    text-align: center;
  }
  #myMenu {
    display: none;
    
  }
}
